.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #00bcd4;
  color: black;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s ease;
  box-shadow: 0 4px 20px rgba(0, 188, 212, 0.3);
}

.scroll-to-top:hover {
  background-color: #0097a7;
  transform: scale(1.1);
}
